.FormularioContacto {
    align-items: center;
    align-content: center;
    text-align: center;

        .formC {
           background-color:cadetblue;
           padding: 10px;
           max-width: min-content;
           margin-left: 45%;
        
        }

     
}